ollama
chromadb
pdfplumber
langchain
langchain-core
langchain-ollama
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
unstructured[pdf]
pdf2image
pytesseract
fastembed
sentence-transformers
elevenlabs